*.o
*.lo
*.a.*
*.so.*
.deps/
/config.mak
/66
/66-echo
/66-fdholder-filler
/66-hpr
/66-nuke
/66-oneshot
/66-shutdown
/66-shutdownd
/66-umountall
/execl-envfile
/lib66.a.xyzzy
src/include/66/config.h
/doc/*/
TODO
hidden/
